# Canonical contributor identities for git shortlog/blame output.

Eric Schoffstall <yo@contra.io> contra <yo@contra.io>

Zacharias Knudsen <z@chari.as> Zacharias Knudsen <zachasme@gmail.com>
Zacharias Knudsen <z@chari.as> Zacharias <zachasme@gmail.com>

Sergei Shoulbakov <managerzf168@gmail.com> Sergei <managerzf168@gmail.com>
Sergei Shoulbakov <managerzf168@gmail.com> sergei sh <managerzf168@gmail.com>
